/out
/edt_workspace/*
/.idea/*
!/.idea/modules.xml
!/.idea/libraries/
!/.idea/runConfigurations/
!/.idea/copyright/
!/.idea/codeStyles/
*.prefs
/eclipse_project/workspace/
target/
bin/
build/
/.gradle/*
gradle.properties
!/gradlew*
*.hprof
*.orig
/dev/*
.project
.classpath
