<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2020,2021 1C-Soft LLC
    Copyright 2021-2022 BIA-Technologies Limited Liability Company

    This program and the accompanying materials are made available under
    the terms of the Eclipse Public License 2.0 which is available at
    https://www.eclipse.org/legal/epl-2.0/, or the Apache License, Version 2.0
    which is available at https://www.apache.org/licenses/LICENSE-2.0.

    SPDX-License-Identifier: EPL-2.0 OR Apache-2.0
    Contributors:
       1C-Soft LLC - initial API and implementation
       BIA-Technologies LLC - Using a Template

-->
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="ru.biatech.edt.xtest.launch.LaunchConfigurationDelegate"
            id="ru.biatech.edt.xtest.launchConfigurationType"
            modes="run, debug"
            name="Модульные тесты">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="ru.biatech.edt.xtest.launchConfigurationType"
            icon="resources/icons/icon.png"
            id="ru.biatech.edt.xtest.launchConfigurationTypeImage">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="ru.biatech.edt.xtest.launch.ui.LaunchConfigurationTabGroup"
            id="ru.biatech.edt.xtest.launchConfigurationTabGroup"
            type="ru.biatech.edt.xtest.launchConfigurationType">
      </launchConfigurationTabGroup>
   </extension>
</plugin>
